* {
    color: white;
    padding: 0.5% 1%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(4, 161, 191);
}

#itens {
    text-align: center;
}

#tarefa {
    width: 70%;
    color: black;
}

#addT {
    background-color: rgb(2, 95, 112);
    border: 0;
    border-radius: 3px;
}

.bRm {
    background-color: red;
    border: 0;
    border-radius: 3px;
}

li {
    list-style-type: none;
    border: 2px solid rgba(17, 129, 150, 0.8);
    background-color: rgb(78, 185, 205);
    padding: 0.5% 2%;
}